---
# YAML Front Matter
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>index</title>
    </head>
    <body>
        <h1>sharing resources</h1>
        <ul>
            {% for page in site.pages %}
              {% if page.url contains '.html' and page.url != '/index.html' %}
            <li>
                <a href="{{ page.url }}">{{ page.title | default: page.url }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </body>
    </html>
